    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    --wt-primary-color: #f8931d;
    --wt-text-on-primary-color: #222222;
    --wt-secondary-color: #f8fafc;
    --wt-text-on-secondary-color: #222222;
    --wt-tertiary-color: #262626;
    --wt-text-on-tertiary-color: #FFFFFF;
    --wt-background-color: #f8fafc;
    --wt-text-on-background-color: #222222;
    --wt-subscribe-background-color: #f8fafc;
    --wt-text-on-subscribe-background-color: #222222;
    --wt-header-font: "Poppins", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --wt-body-font: "Open Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --wt-button-font: "Open Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --wt-border-radius: 0px;
    --lp-bg-color: #f8fafc;
    --lp-overline-color: #f8931d;
    --lp-headline-color: #222222;
    --lp-description-color: #222222;
    --lp-underline-color: #222222;
    --lp-read-more-cta-color: #222222;
    --lp-signup-bg-color: #f8931d;
    --lp-signup-text-color: #222222;
    --lp-testimonials-bg-color: #222222;
    --lp-testimonials-overline-color: #f8931d;
    --lp-testimonials-headline-color: #ffffff;
    --lp-testimonials-card-accent-color: #f8931d;
    --lp-testimonials-card-text-color: #222222;
    --lp-testimonials-card-bg-color: #f8fafc;
    --lp-featured-posts-bg-color: #f8fafc;
    --lp-featured-posts-overline-color: #f8931d;
    --lp-featured-posts-headline-color: #222222;
    --up-bg-color: #f8fafc;
    --up-overline-color: #f8931d;
    --up-headline-color: #222222;
    --up-description-color: #222222;
    --up-redirect-text-color: #222222;
    --up-card-bg-color: #ffffff;
    --up-card-accent-color: #f8931d;
    --up-card-text-color: #222222;
    --up-most-popular-plan-bg-color: #f8931d;
    --up-most-popular-plan-label-color: #222222;
    --up-testimonials-bg-color: #222222;
    --up-testimonials-overline-color: #f8931d;
    --up-testimonials-headline-color: #ffffff;
    --up-testimonials-card-accent-color: #f8931d;
    --up-testimonials-card-text-color: #222222;
    --up-testimonials-card-bg-color: #f8fafc;
    line-height: inherit;
    color: var(--wt-text-on-background-color);
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
